<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectointerfacesradar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoInterfacesRadar">
        <activity android:name=".Agregar_Nuevo"></activity>
        <activity android:name=".Enlistado" />
        <activity android:name=".Seleccion" />
        <activity android:name=".Configuracion" />
        <activity android:name=".Inicio" />
        <activity android:name=".Iniciar_Sesion" />
        <activity android:name=".Registrarse" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>